html, body {margin:0; padding:0;}
body {margin-left:20px;}
table { border-collapse:collapse; border:0; padding:0;}
table td {padding:0.2em 0.5em;  }
.ui-fixed-thead
{
    background: #fff;
    padding:0;
    margin:0;
}
.ui-fixed-thead td
{
    border-width: 0;
    margin: 0;
    cursor:pointer;
     
}
.ui-fixed-thead td 
{
    border-bottom: #ccc 1px dashed;
    
    
}
.ui-fixed-thead td  a
{
    text-decoration:none;
    color:#000;
}
.fixed
{
    position: fixed;
    z-index: 1000;
    top:0px;
    border-collapse:collapse;
     border:0; 
     padding:0;
    background:#fff;
}

tbody.loading
{
    background: #eee;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    
    opacity: 0.5;
}

div.ui-paging a
{
    float: left;
    cursor: pointer;
    padding: 0.2em 0.5em;
    color: #3333CC;
    text-decoration: underline;
}

div.ui-paging a.ui-active
{
    float: left;
    cursor: pointer;
    padding: 0.2em 0.5em;
    color: #660066;
    text-decoration: none;
}
a.asc:after
{
    content: "↑";
}
a.desc:after
{
    content: "↓";
}
